{{#each imagePath}}
    <div class="col-md-4 col-xl-4 col m4 xl4 product-item">
        <div class="vertical-center thumbnail-image-container-small thumbnail-small">
            <span class="glyphicon glyphicon-remove"></span>
            <img class="img-responsive" src="{{this}}">
        </div>
    </div>
{{/each}}